/.pdm.toml
/MyBooleanLife.db
/scratch
/.pdm-python
/.vscode
MyBooleanLife/__pycache__/__init__.cpython-311.pyc
MyBooleanLife/__pycache__/db.cpython-311.pyc
MyBooleanLife/__pycache__/main.cpython-311.pyc
